﻿@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Admin";
    var X = Html.X();
}

@section headTag{
    <script type="text/javascript">

        var template = 'color:{0};';
        var change = function (value, meta) {
            meta.style = Ext.String.format(template, (value > 0) ? "green" : "red");
            return value;
        };

        var pctChange = function (value, meta) {
            meta.style = Ext.String.format(template, (value > 0) ? "green" : "red");
            return value + "%";
        };

        var edit = function (editor, e) {
            /*
            "e" is an edit event with the following properties:

            grid - The grid
            record - The record that was edited
            field - The field name that was edited
            value - The value being set
            originalValue - The original value for the field, before the edit.
            row - The grid table row
            column - The grid Column defining the column that was edited.
            rowIdx - The row index that was edited
            colIdx - The column index that was edited
            */

            // Call DirectMethod
            if (
                !(e.value === e.originalValue ||
                (Ext.isDate(e.value) && Ext.Date.isEqual(e.value, e.originalValue))
                )
                ) {
                console.log("id1: " + e.record.data.EmployeeId);

                console.log("id2: " + e.record.data.ID);
                Ext.net.DirectMethod.request({
                    url: '@(Url.Action("Edit"))',
                    params: {
                        id: e.record.data.EmployeeId,
                        field: e.field,
                        oldValue: e.originalValue,
                        newValue: e.value,
                        customer: e.record.data
                    }
                });
            }
        };


        var nodeClickHandler = function (evt, target, option) {
            //var url = node.attributes.link;
            //        Ext.net.Msg.alert('Navigation Tree Click', 'You clicked: "' + url + '"');
            //console.log("evt:");
            //console.dir(evt);

            //Ext.Msg.alert('Navigation Tree Click', 'You clicked: "' + target.data.url + '"');
            //console.log("target:");
            //console.dir(target);

            Ext.net.DirectMethod.request({
                url: '@(Url.Action("EmployeeGrid", "Test", new {  containerId = "employeeGrid" }))',
                method: 'POST'
            });


            //console.log("option:");
            //console.dir(option);
        };



    </script>

}


<h2>title</h2>



<br />
@{
  
    var treePanel = new TreePanel();
    treePanel.Title = "Online Users";
    treePanel.Region = Region.West;
    treePanel.Collapsible = false;
    treePanel.Width = 300;
    treePanel.RootVisible = false;

    treePanel.Tools.Add(new Tool(ToolType.Refresh, Ext.Net.X.Msg.Alert("Message", "Refresh Tool Clicked!").ToScript(), ""));
    var root = new Node();
    root.NodeID = "root";
    root.Expanded = true;
    treePanel.Root.Add(root);



    var node1 = new Node();
    node1.Text = "Friends";
    node1.Expanded = true;

    node1.Children.Add(new Node()
    {
        Text = "Jack",
        Icon = Icon.User,
        Leaf = true,

    });
    node1.Children.Add(new Node()
    {
        Text = "Brian",
        Icon = Icon.User,
        Leaf = true
    });
    node1.Children.Add(new Node()
    {
        Text = "Jon",
        Icon = Icon.User,
        Leaf = true
    });
    node1.Children.Add(new Node()
    {
        Text = "Tim",
        Icon = Icon.User,
        Leaf = true
    });
    node1.Children.Add(new Node()
    {
        Text = "Brent",
        Icon = Icon.User,
        Leaf = true
    });
    node1.Children.Add(new Node()
    {
        Text = "Fred",
        Icon = Icon.User,
        Leaf = true
    });
    node1.Children.Add(new Node()
    {
        Text = "Bob",
        Icon = Icon.User,
        Leaf = true,

    });
    root.Children.Add(node1);


    var node2 = new Node();
    node2.Text = "Family";
    node2.Expanded = true;

    node2.Children.Add(new Node()
    {
        Text = "Kelly",
        Icon = Icon.UserFemale,
        Leaf = true
    });
    node2.Children.Add(new Node()
    {
        Text = "Sara",
        Icon = Icon.UserFemale,
        Leaf = true
    });
    node2.Children.Add(new Node()
    {
        Text = "Zack",
        Icon = Icon.UserFemale,
        Leaf = true
    });
    node2.Children.Add(new Node()
    {
        Text = "John",
        Icon = Icon.UserFemale,
        Leaf = true
    });

    root.Children.Add(node2);
}

@(Html.X().Button().Text("Load View to the following container").DirectEvents(e =>
{
    e.Click.Url = Url.Action("EmployeeGrid", "Test" );
    e.Click.ExtraParams.Add(new { containerId = "employeeGrid" });
}))
<br />

@(Html.X().Container().ID("employeeGrid") .StyleSpec("border:solid 1px black; height:150px; width:300px;"))

@*@(X.Viewport()
        .Layout(LayoutType.Border)
        .Items(

        Html.X().TreePanel(treePanel)
                                .Listeners(l =>
                                {
                                    l.ItemClick.Fn = "nodeClickHandler";
                                })
                                ,
                                  Html.X().Container().ID("employeeGrid")
                                  .Region(Region.Center)

 )//end Items
)*@


