﻿<!DOCTYPE html>
<html lang="en">
@{
    var X = Html.X();
}
<head>
    <title>@ViewBag.Title</title>

    @X.ResourceManager()
    @RenderSection("headTag", false)
</head>
<body>



    @RenderBody()


</body>
</html>
