﻿<div style="padding:10px;">
    <h3>It is a partial view</h3>
    <button onclick="Ext.Msg.alert('HTML button', 'Hello');">HTML button - click</button>        
    <br />
    @Html.X().Button().Icon(Icon.Application).Text("Ext.Net button - click").Handler("Ext.Msg.alert('Ext.NET button', 'Hello');")    
  @Html.X().Panel().Title("test").Html("<h3>content</h3>").Weight(300).Height(300)  
</div>